<mat-card>
    <mat-card-header>
        <mat-card-title>Bienvenue sur le site internet du parc d'attraction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="attraction-title">
            <div class="attraction">
                <span>Nom de l'attraction</span>
                <span>Description de l'attraction</span>
                <span>Difficulté de l'attraction / 5</span>
            </div>
        </div>
        <ng-container *ngFor="let attraction of attractions | async; let i = index">
            <div class="attraction">
                <div class="attraction-contenu">
                    <span>{{attraction.nom}}</span>
                    <span>{{attraction.description}}</span>
                    <span>{{attraction.difficulte}} / 5</span>
                </div>
                <button (click)="toggleReviews(i)">
                    {{ showReviews ? 'Cacher les critiques' : 'Afficher les critiques' }}
                </button>
                <div class="attraction-zone_critiques" *ngIf="showReviews[i]">
                    <label class="attraction-zone_critiques-titre">Critique</label>
                    <ng-container *ngFor="let review of attraction.reviews;">
                        <div class="attraction-zone_critiques-critique">
                            <p class="attraction-zone_critiques-critique-utilisateur">{{review.author_firstname}} {{review.author_lastname}}</p>
                            <p class="attraction-zone_critiques-critique-note">{{review.score}} / 5</p>
                            <p class="attraction-zone_critiques-critique-texte">{{review.text}}</p>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>